*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    position: relative;
    transition: 0.3s;
    &.active{
        background-color: hsl(232, 19%, 15%);
        color: white;
    }
    main{
        position: absolute;
        z-index: 1;
        top: 30%;
        background-color: hsl(0, 0%, 100%);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.active{
            background-color: black;
        }
        .main{
            position: absolute;
            z-index: 2;
            top: -25%;
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 50px;
            .absolute-section{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 40px;
                .head{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .head-title{
                        h1{
                            font-size: 28px;
                        }
                        h6{
                            color:hsl(230, 22%, 74%);
                        }
                    }
                    .div-toggle{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        width: 150px;
                        h6{
                            color:hsl(230, 22%, 74%);
                        }
                        #toggle{
                            width: 50px;
                            height: 27px;
                            background-color: hsl(230, 22%, 74%);
                            border-radius: 50px;
                            position: relative;
                            .indicator{
                                content: "";
                                width: 22px;
                                height: 21px;
                                background-color: white;
                                position: absolute;
                                border-radius: 50px;
                                top: 3px;
                                left: 3px;
                                transition: 0.5s;
                            }
                            &.active{
                                background: linear-gradient(to left,hsl(210, 78%, 56%), hsl(146, 68%, 55%));
                            }
                            &.active .indicator{
                                left: 50%;
                            }   
                        }
                    }
                }
                .art-flex{
                    display: flex;
                    justify-content: space-between;
                    .box{
                        width: 20%;
                        height: 200px;
                        background-color: hsl(227, 47%, 96%);
                        border-radius: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        transition: 0.5s;
                        gap: 3px;
                        &.active{
                            background-color: hsl(228, 28%, 20%);
                        }
                        .media-mail{
                            display: flex;
                            gap: 5px;
                        }
                        .nbrtotalfollower{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 2px;
                            .fontsize35{
                                font-size: 2.3em;
                                font-weight: 900;
                            }
                            .sub-title{
                                color: hsl(228, 12%, 44%);
                            }
                        }
                        .adlosdfllwrtoday{
                            display: flex;
                            align-items: end;
                            gap: 5px;
                        }
                    }
                    .facebook{
                        border-top: 4px solid hsl(208, 92%, 53%);
                        .adlosdfllwrtoday{
                            color: hsl(163, 72%, 41%);
                        }
                    }
                    .twitter{
                        border-top: 4px solid hsl(203, 89%, 53%);
                        .adlosdfllwrtoday{
                            color: hsl(163, 72%, 41%);
                        }
                    }
                    .instagram{
                        border-top: 4px solid;
                        border-image: linear-gradient(to right,hsl(37, 97%, 70%),hsl(329, 70%, 58%))1;
                        .adlosdfllwrtoday{
                            color: hsl(163, 72%, 41%);
                        }
                    }
                    .youtube{
                        border-top: 4px solid hsl(348, 97%, 39%);
                        .adlosdfllwrtoday{
                            color: hsl(356, 69%, 56%);
                        }
                    }
                }
                .scndflex{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .art-flex{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        .cards{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            .box{
                                width: 20%;
                                height: 110px;
                                transition: 0.5s;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 15px;
                                &.active{
                                    background-color: hsl(228, 28%, 20%);
                                }
                                .text{
                                    width: 90%;
                                    display: flex;
                                    justify-content: space-between;
                                }
                                .numbers{
                                    width: 90%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    .global{
                                        font-weight: 700;
                                        font-size: 2em;
                                    }
                                }
                            }
                            .youtube-likes .numbers .today,
                            .youtube-views .numbers .today,
                            .facebook-likes .numbers .today {
                                color: hsl(356, 69%, 56%);
                            }
                            .facebook-views .numbers .today,
                            .twitter-likes .numbers .today,
                            .twitter-retweets .numbers .today,
                            .facebook-views .numbers .today,
                            .instagram-views .numbers .today,
                            .instagram-likes .numbers .today {
                                color: hsl(163, 72%, 41%);
                            }
                        }
                    }
                }
                .fa-twitter{
                    color: hsl(203, 89%, 53%);
                }
                .fa-square-facebook{
                    color: hsl(208, 92%, 53%);
                }
                .fa-instagram{
                    background: linear-gradient(to right,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
                    -webkit-background-clip: text; 
                    -webkit-text-fill-color: transparent;
                    background-clip:"";
                }
                .fa-youtube{
                    color: hsl(348, 97%, 39%);
                }
            }
        }
    }
}